fastapi==0.104.1
httpx==0.25.1
httpx_sse==0.3.1
pydantic==1.10.9
pytest==7.4.3
Requests==2.31.0
sse_starlette==1.6.5
starlette==0.32.0.post1
tinydb==4.8.0
typing_extensions==4.8.0
uvicorn==0.24.0.post1
